<!DOCTYPE html>
<html lang="en">
    <head>
  <title>Resume Generator</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
  <h1>Generate Resume with me</h1>
  <p>No need to <strong>Signup</strong></p>
  <form action="/generate" method="post">
    <label for="name">Enter your name</label>
    <input type="text" name="name" id="name"/>
    <br>
    <label for="age">Enter your age</label>
    <input type="number" name="age" id="age"/>
    <br>
    <label for="email">Enter Email</label>
    <input type="email" name="email" id="email"/>
    <br>
    <label for="about-me">Enter about yourself</label>
    <input type="text" name="about" id="about-me"/>
    <br>
    <input type="submit" value="generate pdf"/>
  </form>
    </body>
</html>