body{
    width:100vw;
    margin:0;
    overflow-x: hidden;
    font-family: system-ui;
}
h1{
    padding-left: 2vw;
}
header{
    position: sticky;
    top:0;
}
main{
    background-image: url("./images/resume.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 20px;
    & > .in{
        width:30vw;
        height:30px;
        box-sizing: border-box;
        border:none;
        background-color: antiquewhite;
        &:hover{
            border-bottom: 2px solid aqua;
        }
    }
    & > label{
        font-size: 1.2rem;
        font-weight: bolder;
    }
    & > button{
        width:20vw;
        height:30px;
        border:none;
        color:white;
        font-weight: 900;
        border-radius: 5px;
        background: linear-gradient(to right,red,rgb(236, 17, 17));
        margin-bottom:5vh;
        box-shadow:0 0 5px black;
    }
   
}

.feature{
    font-size: 1.5rem;
    text-align: center;
}
.note{
    text-align: center;
    font-weight: 600;
    padding-bottom: 2vh;
}
footer > p{
    font-weight: bolder;
    text-align: center;
    font-size: 1rem;
}
@media only screen and (max-width:800px) {
    body{
        width:100vw;
        box-sizing: border-box;
    }
    form{
        margin-left: 3vw;
        margin-right: 3vw;
    }
  
}